@charset "utf-8";
#newRight{
	position: fixed;
    top: 10%;
    right: 0px;
    text-align: center;
    width: 54px;
    z-index: 9999;
}
#newRight .app{
	position: relative;
    text-align: center;
    width: 75px;
}
#newRight .app img{
	display: block;
	vertical-align: middle;
}
#newRight .app .right-kefu{
	position: absolute;
 	left: -300px;
    opacity: 0;
    display: none;
    top:0;
}
#newRight  .newTop{
	display: none;
}
   