@charset "utf-8";
body{font:12px/24px "微软雅黑";color:#888;word-wrap:break-word;background: #f0f0f0;line-height: 1.5;}
body{font-family: "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
html,body{height: 100%;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
li{list-style:none;}
a,u,del,s{text-decoration:none;color: #888;}
a img{border:0;}
i,em{font-style:normal;}
b,th,strong{font-weight:normal;}
img{vertical-align:middle;} 
table{border-collapse:collapse;}
/*input,textarea{outline:none;}*/

.cu{cursor:pointer;}
.clear{zoom:1;}
.clear:after{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.clearx{clear:both;}
.over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.vm{vertical-align:middle;display:inline-block;}
.vcenter{width:0px;height:100%;vertical-align:middle;display:inline-block;}
.dis100{display:block;width:100%;height:100%;}
.ind2{text-indent:2em;}
.bor0{border:0;}
.l{float:left;}
.r{float:right;}
.pl_1{position:relative;top:-1px;}
.pl_2{position:relative;top:-2px;}


